body{
    background-color: blue;
    align-items: center;
    display: flex;
    flex-direction: column;
}
div{
    background-color: white;
    min-height: 350px;
    width: 600px;
    text-align: center;
}
h1{
    color: white;
}
.img{
    width: 100px;
}